@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

:root {
  --background: 35 8% 95%;
  --foreground: 35 5% 4%;
  --card: 35 8% 90%;
  --card-foreground: 35 5% 10%;
  --popover: 35 8% 95%;
  --popover-foreground: 35 95% 4%;
  --primary: 35 35% 64%;
  --primary-foreground: 0 0% 0%;
  --secondary: 35 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -3 10% 85%;
  --muted-foreground: 35 5% 35%;
  --accent: -3 10% 80%;
  --accent-foreground: 35 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 35 5% 90%;
  --border: 35 20% 80%;
  --input: 35 20% 18%;
  --ring: 35 35% 64%;
  --radius: 1rem;
}
.dark {
  --background: 35 10% 5%;
  --foreground: 35 5% 90%;
  --card: 35 8% 4%;
  --card-foreground: 35 5% 90%;
  --popover: 35 10% 5%;
  --popover-foreground: 35 5% 90%;
  --primary: 35 35% 64%;
  --primary-foreground: 0 0% 0%;
  --secondary: 35 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -3 10% 15%;
  --muted-foreground: 35 5% 60%;
  --accent: -3 10% 15%;
  --accent-foreground: 35 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 35 5% 90%;
  --border: 35 20% 18%;
  --input: 35 20% 18%;
  --ring: 35 35% 64%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__video-preview-container {
  max-width: 500px !important;
  

}
.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(49, 49, 49, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

* {
  font-family: "Open Sans", sans-serif;
}
